/* Import de la police Syne avec tous les poids */
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@200;300;400;500;600;700;800&display=swap');

html, body {
    font-family: 'Syne', sans-serif;
    overflow-x:hidden;
}

/*header et menu de nav*/
.site-header { 
    height: 80px;
    background-color: #FFFFFF;
}

.site-logo, .show {
    width: 191px;
    height: 19px;
    margin-left: 37px;
    padding-bottom: 31px;
}

.site-navigation ul.menu li a {
    color: #000000;
    padding-top: 41px !important;
}

#menu-item-36,
.admin {
    margin-right: 70px; /*espace rencontrer menu*/
}

/*formulaire 'nous contacter'*/
.wpcf7-form label.contact {  
    color: black;
}

#menu-item-3995 a {
    color:#FFFFFF;  /*bouton menu commander*/
    background: #DC9F96;
    width: 236px;
    height: 80px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
}

.elementor-heading-title {
    width: 781px; /*naturelle*/
    height: 92px;
    top: 185px;
    left: 330px;
}

/*gallery*/
.attachment-thumbnail, .size-thumbnail{
    width: 393px; /*taille vignettes*/
    height: 262px;
    top: 1517px;
    left: 312px;
}

/* Cible le formulaire Contact Form 7  Nous contacter*/

/*espace label et cadre*/
.wpcf7-form-control {
    margin-top: 13px;
    margin-bottom: 13px;
}

/*largeur zone texte*/
.wpcf7-form-control  {
    width: 383px !important;
    height: 71px; 
    border: none !important;
    border-radius: 7px !important;
}

.wpcf7-form label {
    font-size: 20px !important; 
    font-weight: 400 !important; 
    line-height: 24px!important;
    color: #FFFFFF;
}

/*Message*/
.wpcf7-textarea {
    width: 383px ;
    height: 237px ;
    border-radius: 7px !important;  
}

/*button envoyer*/
.wpcf7-submit {   
    width: 198px !important; 
    height: 55px !important;
    top: 1675px !important;
    left: 621px !important;
    border: none !important;
    border-radius: 5px !important;
    margin-left: 70px;
    color:#FFFFFF !important;
    background-color:#E0B9B4 !important;
}

/* page accueil button commander*/
.elementor-button-text {
    width: 198px !important;
    height: 55px !important;
    padding-top: 20px;
}

/*Feuille d'angle*/
.elementor-19 .elementor-element.elementor-element-7fba2ed img {
    background-color: #ECE2DA;
}

/* Page 'COMMANDE' */
.wpcf7-form {
font-family: syne;
}

/*Titres COMMANDER*/
.wpcf7-form .margecommander {
    margin-left: 480px !important;
    margin-top: 20px !important;
    width: 680px;
}

.wpcf7-form .margecommander {
    font-size: 38px !important;
    font-weight: 800 !important;
}

/*titre Vos commandes*/
.wpcf7-form .margecommande {
    width: 290px;
    height: 36px;
    margin-top: 50px;
    margin-left: 317px;
}

.wpcf7-form .margecommande {
    text-align: center;
    font-size: 30px !important;
    font-weight: 700 !important;
}

 /*fruits*/
.fruits {
    display: flex;
    position: relative;
    margin-left: 292px;
    margin-top: 35px;
}

.details-image {
    margin-left: 27px; /* Espacement entre les images */
    width: 194px; 
    margin-bottom: -15px;
    height: 128px; /* Maintenir le ratio hauteur/largeur */
}

/* Les compteurs */
.wpcf7-form .compteur {
    display:flex;
    position: relative;
    justify-content: center;
    gap: 10%;
    margin-right: 123px;
   }
 
 input[type="number"] {
    width: 56px !important;
    margin-left: 27px;
}

/* Cible le formulaire Contact Form 7  Commander*/
/*Vos informations*/
.wpcf7-form .informations {
    width: 278px;
    height: 36px;
    margin-top: 40px;
    margin-bottom: 29px;
}

.wpcf7-form .informations {
    font-size: 30px !important;
    font-weight: 700 !important;
}

/*Livraison*/
.wpcf7-form .livraison {
    width: 149px;
    height: 36px;
    margin-top: 40px;
    margin-bottom: 29px;
}

.wpcf7-form .livraison {
    text-align: center;
    font-size: 30px !important;
    font-weight: 700 !important;
}

/*les colonnes*/
.wpcf7-form-control {
    display: flex;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: row;
    margin-left: 230px;
}

.two-columns {
    margin-left: 90px;
}

.bouton-commande {
    width: 198px !important; 
    height: 55px !important;
    top: 1675px !important;
    left: 621px !important;
    border: none !important;
    border-radius: 5px !important;
    color:#FFFFFF !important;
    background-color:#E0B9B4 !important;
    margin-left:42% !important;
    margin-top: 16%;
}

/*separator*/
.separator,
.separator2 {
    width: 860px;
    border: 1px solid #FFFFFF;
    margin-top: 60px;
    margin-left: 315px ; /* Espace au-dessus et en dessous de la ligne */
}

.separator2 {
    margin-top: 30px;
}

.separatorverticale {
    border: 1px solid #FFFFFF;
    transform: rotate(90deg); /* Angle de rotation de 45 degrés */
    margin-top: -240px;
    width: 430px;
    margin-left: 535px;
}

 /*footer*/
#site-footer{ 
    width: 100%;
    height: 60px;
    color: #000000;  
    background-color: #FFFFFF;
    padding-right: 45%;
}

/*media quieries*/
@media only screen and (max-width: 768px) {
    .menu-item.admin-link {
      display: block; /* Affiche le lien d'admi pour les écrans inférieurs à 768px */
    }
  }

  @media (min-width:1200px) {
    .page-header,
    .site-header .header-inner,
    .site-main {
    max-width:100% !important;
    }
}

/*@media only screen and (min-width: 320px) and (max-width: 656px*/
/*page renconter*/

@media only screen and (min-width: 320px) and (max-width: 656px) {
.wpcf7-form label.contact {  
    width: 40%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 656px) {
.wpcf7-form-control  {
    width: 90% !important ;
    height: 51px; 
    }
}

@media only screen and (min-width: 320px) and (max-width: 656px) {
.wpcf7-submit {   
    width: 30% !important; 
    height: 55px !important;
    margin-left: 55px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 656px) {
.wpcf7-textarea {   
    width: 90% !important; 
    height: 50% !important;
    }
}

/*page commander, @media only screen and (min-width: 320px) and (max-width: 656px)* */
@media only screen and (min-width: 320px) and (max-width: 656px) {
.wpcf7-form .margecommander {
    margin-left: 10% !important;  
    }

.wpcf7-form .margecommander {
    font-size: 26px !important;
    font-weight: 700 !important;
    }
}

@media only screen and (min-width: 320px) and (max-width: 656px) {
.wpcf7-form .margecommande {
    margin-left: -20px;
    margin-top: -80px;
    }
}       

@media only screen and (min-width: 320px) and (max-width: 656px) {
    .wpcf7-form .margecommande {
        font-size: 24px !important;
        font-weight: 500 !important;
    }
}

@media only screen and (min-width: 320px) and (max-width: 656px) {
.fruits {
    display: flex;
    flex-direction: column;
    margin-left: -1%;
    margin-top: -10%;
    }
 } 

 @media only screen and (min-width: 320px) and (max-width: 656px) {
 .details-image {
    width: 40%; 
    margin-bottom: -15px;
    }
}

 @media only screen and (min-width: 320px) and (max-width: 656px) {
 .wpcf7-form .compteur {
    display: flex;
    flex-direction: column;
    margin-top: -122%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 656px) {
input[type="number"] {
    width: 40px !important;
    height: 45px;
    margin-top: 30px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 656px) {
input[type="number"] {
    margin-left: 110%;
    }
}

/*les colonnes*/
@media only screen and (min-width: 320px) and (max-width: 656px) {
.wpcf7-form .informations,
.wpcf7-form .livraison {
    font-size: 24px !important;
    font-weight: 500 !important; 
    }
}

@media only screen and (min-width: 320px) and (max-width: 656px) {
.column {
    margin-top: -50px;
    margin-left: -70px;
    height: 900px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 656px) {
.column {
    display: grid;  
    grid-template-columns: 1fr;/* 1 colonne de largeur égale */
    grid-column-gap: 10px; /* Ajoute un espace de 10px entre les colonnes */
    width: 60%

    }
}  

@media only screen and (max-width: 320px) and (min-width: 656px) {
.bouton-commande {
    width: 10px !important; 
    height: 40px !important;
    margin-left: 50px;
    }
}

@media only screen and (max-width: 320px) and (min-width: 656px) {
.bouton-commande {

}

@media only screen and (min-width: 320px) and (max-width: 656px){
.separator,
.separator2,
.separatorverticale {
    display: none;
    }
}
    
/*@media only screen and (max-width: 768px) and (min-width: 656px)*/
/*titre 'commander'*/
  
/*vos commandes*/
@media only screen and (max-width: 768px) and (min-width: 656px) {
.wpcf7-form .margecommande {
    margin-top: 10px;
    }
}

.wpcf7-form .margecommander {
    margin-bottom: 10px !important;
    }
}

@media only screen and (max-width: 768px) and (min-width: 656px) {
.wpcf7-form .margecommander {
    font-size: 34px !important;
    font-weight: 600 !important;
    margin-left: 250px !important;
    }
}

@media only screen and (max-width: 768px) and (min-width: 656px) {
    .wpcf7-form .margecommande {
    margin-left: 19px;    
        }
    }
    
@media only screen and (max-width: 768px) and (min-width: 656px) {
.fruits {
        display: flex;
        flex-direction: row;
        margin-top: 2%;
        margin-left: 5%;
    }
} 
    
@media only screen and (max-width: 768px) and (min-width: 656px) {
.details-image {
        width: 75%; 
        margin-left:5%;
    }
}

/* Les compteurs */
@media only screen and (max-width: 768px) and (min-width: 656px) {
.wpcf7-form .compteur {
    display:flex;
    position: relative;
    gap: 5%;
    margin-right: 90px;
   }

input[type="number"] {
    width: 46px !important;
    height: 56px;
    margin-left: 95px;
    }
}

@media only screen and (max-width: 768px) and (min-width: 656px) {
.separator,
.separator2 {
    width: 660px;
    margin-left: 50px;
    margin-top: 30px;
    }
    
.separator2 {
    margin-top: 20px;
    }
}

@media only screen and (max-width: 768px) and (min-width: 656px) {
.wpcf7-form .informations,
.wpcf7-form .livraison,
.wpcf7-form .margecommande {
    margin-top: 30px;
    font-size: 30px !important;
    font-weight: 500 !important;
    margin-bottom: 5px;
    } 
}
/*les colonnes*/
@media only screen and (max-width: 768px) and (min-width: 656px) {
.column {
    display: flex;
    flex-direction: row;
    }
}

@media only screen and (max-width: 768px) and (min-width: 656px) {
.column {
    margin-left: -30px;
    height: 650px;
}
}
@media only screen and (max-width: 768px) and (min-width: 656px) {
.wpcf7-form-control {
    width: 90% !important;
    }       
}

@media only screen and (max-width: 768px) and (min-width: 656px) {
.wpcf7-submit {
    width: 198px !important;
    }
}

@media only screen and (max-width: 768px) and (min-width: 656px) {
.separatorverticale {
    margin-top: -420px;
    width: 390px;
    margin-left: 200px;
    }
}

@media only screen and (max-width: 768px) and (min-width: 656px) {
.bouton-commande {
    margin-top: 230px;   
    }
}
            
@media only screen and (min-width: 320px) and (max-width: 656px),
only screen and (max-width: 768px) {
    #site-footer {
        display: inline; /* Assure que les mots restent sur la même ligne */
        white-space: nowrap; /* empeche le passage à la ligne */ 
    }
}
